<!DOCTYPE html>
<html>
  <head>
    <title>KeapSt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  </head>

  <body>

    <script type="text/javascript">
      window.logoUrl = "<%= image_url('google_logo.png') %>"
      window.userUrl = "<%= image_url('account.svg') %>"
      window.accountIconUrl = "<%= image_url('account-icon.png') %>"
      window.blackLogoUrl = "<%= image_url('google_black.png') %>"
      window.lightbulbUrl = "<%= image_url('lightbulb.png') %>"
      window.addUserButtonUrl = "<%= image_url('add-user-button.png') %>"
      window.frameLandscapeUrl = "<%= image_url('frame-landscape.png') %>"
      window.menuUrl = "<%= image_url('menu.png') %>"
      window.painterPaletteUrl = "<%= image_url('painter-palette.png') %>"
      window.tagUrl = "<%= image_url('tag.png') %>"
      window.garbageUrl = "<%= image_url('garbage.png') %>"
      window.bulletListUrl = "<%= image_url('bullet-list.png') %>"
      window.tickUrl = "<%= image_url('tick.png') %>"
      window.addUrl = "<%= image_url('add.png') %>"
      window.checkboxUrl = "<%= image_url('verification-square-button.png') %>"
      window.lightbulb2Url = "<%= image_url('lightbulb2.png') %>"
    </script>
    <%= yield %>
  </body>
</html>
